@model List<LoyaltyProgramManagement.Models.ViewModels.ProductModel>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Barcode</th>
            <th>Current Price</th>
            <th>Offer Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.TillDescription</td>
                <td>@product.Barcode</td>
                <td>@product.RegularPrice.ToString("C")</td>
                <td>@Html.Raw(product.OfferPrice.HasValue ? product.OfferPrice.Value.ToString("C") : "<em>None</em>")</td>
                <td><a href="#">Analyse purchase patterns</a></td>
                <td><a href="#">View members</a></td>
            </tr>
        }
    </tbody>
</table>