<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="LiveDb" connectionString="Data Source=TigerTreeServer\sql2014;Initial Catalog=TigerTreeFoods;User Id=TigerTree;Password=TigerTree1;Connection Timeout=300; Application Name=Pricing Manager;"/>
    </connectionStrings>
  <appSettings>
    <add key="CompetitorPriceApi" value="http://tigertreeserver:8050/Api" />
  </appSettings>
</configuration>